.scroll-container {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.slide {
  scroll-snap-align: center;
}

/* IntangiblesSection.css */
.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
